<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
        <div class="card">
            <img style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; height: 100px; width: 150px;" src="{{cv.image.url}}" class="card-img-top">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Career Objectives:</h6>
                <p class="card-text">{{ cv.objectives }}</p>
                <h3 class="card-title">{{ cv.fullName }}</h3>
                <label class="col-sm-2 col-form-label col-form-label-sm">Email: </label>
                <p class="card-text">{{ cv.email }}</p>
                <label class="col-sm-2 col-form-label col-form-label-sm">Phone: </label>
                <p class="card-text">{{ cv.phone }}</p>
                <label class="col-sm-2 col-form-label col-form-label-sm">Gender: </label>
                <p class="card-text">{{ cv.gender }}</p>
                <label class="col-sm-2 col-form-label col-form-label-sm">Religion: </label>
                <p class="card-text">{{ cv.religion }}</p>
                <label class="col-sm-2 col-form-label col-form-label-sm">Address: </label>
                <p class="card-text">{{ cv.address }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Education:</h6>
                <table class="table">
  <thead>
    <tr>
      <th scope="col">Degree</th>
      <th scope="col">Passing Year</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
     <tbody>
     <tr>
         <td>{{cv.degree}}</td>
         <td>{{cv.passing_year}}</td>
         <td>{{cv.result}}</td>
     </tr>
     <tr>
         <td>{{cv.degree1}}</td>
         <td>{{cv.passing_year1}}</td>
         <td>{{cv.result1}}</td>
     </tr>
     <tr>
         <td>{{cv.degree2}}</td>
         <td>{{cv.passing_year2}}</td>
         <td>{{cv.result2}}</td>
     </tr>
    </tbody>
</table>

                <p class="card-text">{{ cv.education }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Work Experience:</h6>
                <p class="card-text">{{ cv.workExperience }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Skills:</h6>
                <p class="card-text">{{ cv.skills }}</p>
            </div>

        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>